@import "vars";
@import "header";
@import "footer";


* {
  color: $color-primary;
  font-family: 'Raleway', sans-serif;

}

body {
  text-align: center;
}

div {
  background: $color-primary;
  margin: 0 4.5rem 1.9rem 4.5rem;
}

.explanation i {
  font-size: 3rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 3rem;
  margin: 1.5rem;
}

h3 {
  font-weight: 900;
  margin-bottom: 1.5rem
}
p {
  margin: 0 2rem 3.1rem;
  line-height: 1.5rem;
}
