@import "header";
@import "footer";

* {
  color: #3A90D1;
  font-family: 'Raleway', sans-serif;

}

body {
  text-align: center;
}

div {
  margin: 6rem 8rem;
  background-color: #3A90D1;
}

i {
  font-size: 4rem;
}
